<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter" ng-controller="headerCtrl">

    <ion-pane>
      <ion-header-bar class="bar-stable" align-title="center">
        <div class="buttons">
          <button class="button icon-left ion-chevron-left" ng-click="back()">Back</button>
        </div>
        <h1 class="title">Ionic Blank Starter</h1>
        <button class="button ion-ios-information-outline" ng-click="message()"></button>
      </ion-header-bar>
      <ion-content>

        <h1>This is the h1</h1>
        <br><br>
        <h2>This is the h2</h2>
        <br><br>
        <h3>This is the h3</h3>
        <br><br>
        <h4>This is the h4</h4>
        <br><br>
        <h5>This is the h5</h5>
        <br><br>
        <h6>This is the h6</h6>

      </ion-content>

      <ion-footer-bar align-title="center" class="bar-stable">
        <div class="buttons">
          <button class="button">Left Button</button>
        </div>
        <h1 class="title">Footer!</h1>
        <button class="button">Right Button</button>
      </ion-footer-bar>
    </ion-pane>

    <script type="text/javascript">
      
      angular.module('starter', ['ionic'])

      .controller('headerCtrl', function($scope) {

        $scope.back = function() {
          history.back();
        };

        $scope.message = function() {
          alert('you tapped the right button');
        };
      });

    </script>
  </body>
</html>
