<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Pull-to-Refresh Practice</h1>
      </ion-header-bar>
      <ion-content ng-controller="RefreshCtrl">

        <ion-refresher pulling-text="Pull to refresh..." on-refresh="doRefresh()">
        </ion-refresher>

        <ion-list>
          <ion-item ng-repeat="item in items">{{item}}</ion-item>
        </ion-list>

        <button class="button button-block button-stable" ng-click="back()">Back</button>

      </ion-content>
    </ion-pane>

    <script type="text/javascript">
      
      angular.module('starter', ['ionic'])

      .controller('RefreshCtrl', function($scope, $http) {
        $scope.items = [1, 2, 3];

        $scope.doRefresh = function() {
          $http.get('/data/new-items')
            .success(function(newItems) {
              $scope.items = newItems;
            })
            .finally(function() {
              //Stop the ion-refresher from spinning
              $scope.$broadcast('scroll.refreshComplete');
            });
        };

        $scope.back = function() {
          history.back();
        };
      });
    </script>
  </body>
</html>
