<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Toggle Practice</h1>
      </ion-header-bar>
      <ion-content ng-controller="toggleCtrl" has-bouncing="true" overflow-scroll="false">

        <div class="list">
          
          <div class="item item-divider">Mode Settings</div>
          <ion-toggle ng-model="mode.checked" toggle-class="toggle-balance" ng-repeat="mode in modeList" ng-checked="mode.checked">{{ mode.text }}</ion-toggle>
          <pre>{{ modeList | json }}</pre>

          <div class="item item-divider">Notifications</div>
          <ion-toggle ng-model="pushNotification.checked" ng-change="pushNotificationChange()">Push notification</ion-toggle>
          <div class="item">
            <pre>{{ pushNotification | json }}</pre>
          </div>
          <ion-toggle toggle-class="toggle-calm" ng-model="emailNotification" ng-true-value="'Subscribed'" ng-false-value="'Unsubscribed'">Newsletter</ion-toggle>
          <div class="item">
            <pre>{{ emailNotification | json }}</pre>
          </div>

          <button class="button button-block" ng-click="back()">Back</button>

        </div>
      </ion-content>
    </ion-pane>

    <script type="text/javascript">
      angular.module('starter', ['ionic'])

      .controller('toggleCtrl', function($scope) {
        $scope.modeList = [
          { text: "Airplane", checked: false },
          { text: "Mute", checked: true},
          { text: "Vibrant", checked: true}
        ];

        $scope.pushNotification = {checked: true};

        $scope.pushNotificationChange = function() {
          console.log('Push Notification Change', $scope.pushNotification.checked);
        };

        $scope.emailNotification = 'Subscribed';

        $scope.back = function() {
          history.back();
        };
      });
    </script>
  </body>
</html>
